.login {
    width: 149px;
    height: 50px;
    padding-top: 111px;
}

.loginButton {
    background: rgba(116, 116, 128, 0.08);
    border-radius: 25px;
    border: none;
    color: rgba(60, 60, 67, 0.3);
    font-family: SF Pro Text, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    padding: 14px 50px;
}

.active{
    color: #002DFF;
    border: 3px solid #002DFF;
}